.header {
  background-color: #f03060;
  border: 1px solid LightGrey;
  position: relative;
  text-align: center;
  width: 100%;
  height: 10%;
}

.header a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.header a:hover {
  font-weight: bold;
}

.slogan {
    background-color: lightgrey; 
    padding: 40px 0px;
    position: relative;
    width: 100%;
    height : 8%;
  }

.photo {
    background-color: pink; 
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 2000x;
    height : 400px;
  }

  .photo a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 40px;
    padding: 14px;
    text-decoration: none;
  }
  
  .photo a:hover {
    background: white;
    border: 1px solid red;
    color: red;
  }

  .strawberry {
    width:500px;
    height: 190px;
  }
  .schema { 
    background: lightgrey;
    position: relative;
    text-align: center;
    width: 100%;
    height: 80%;
  }

  .keywords { 
    background: violet;
    position: relative;
    text-align: center;
    width: 100%;
    height: 40%;
  }

  .temoignages { 
    background: grey;
    position: relative;
    text-align: center;
    width: 100%;
    height: 40%;
  }

  .partenaires { 
    background: grey;
    position: relative;
    text-align: center;
    width: 100%;
    height: 40%;
  }

  .footer {
    border: 1px solid LightGrey;
    position: relative;
    text-align: center;
    width: 100%;
    height: 10%;
  }
  
  .footer a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #f03060;
  }
