h1 {
    margin : 20 50 20 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h2 {
    margin : 20 50 20 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h3 {
    margin : 20 50 20 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p {
    margin : 20 50 20 50;
    text-justify: distribute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}