.header {
    background-color: #30B0B0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 2;
    text-align: center;
  }
  
  .logo {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .header a {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
  }
  
  .accueil a {
    text-decoration: none;
    position: relative;
    top: 18px;
    margin-left: 60px;
  }
  
  .comment a {
    text-decoration: none;
    position: relative;
    top: 18px;
  }
  
  .qui a {
    text-decoration: none;
    position: relative;
    top: 18px;
    margin-left: 15px;
  }
  
  .header a:hover {
    font-weight: bold;
  }
  

h1 {
    margin : 20 50 20 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h2 {
    margin : 20 50 20 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h3 {
    margin : 20 50 20 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p {
    margin : 20 50 20 50;
    text-justify: distribute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 1086px) {

    .header {
      display: flex;
      flex-direction: column;
      height: 170px;
    }    
    
    .accueil a {
      margin-left: 0px;
    }
        
    .logo {
      text-align: center;
      grid-column-start:1;
      grid-column-end:8;
    }

}