.header {
  background-color: #30B0B0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 2;
  text-align: center;
}

.logo {
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 3;
}

.header a {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.accueil a {
  text-decoration: none;
  position: relative;
  top: 18px;
  margin-left: 60px;
}

.comment a {
  text-decoration: none;
  position: relative;
  top: 18px;
}

.qui a {
  text-decoration: underline overline white; 
  text-decoration-style: double;
  position: relative;
  top: 18px;
  margin-left: 15px;
}

.header a:hover {
  font-weight: bold;
}

  .photo { 
    height: 100%;
    z-index: 1;
    display: inline-block;
  }

  .qui {
    text-transform: uppercase;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .story{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top:10px;
  }

  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .personne {
    display : block ;
  }

  @media screen and (max-width: 1086px) {

    .header {
      display: flex;
      flex-direction: column;
      height: 170px;
    }    
    
    .accueil a {
      margin-left: 0px;
    }
        
    .logo {
      text-align: center;
      grid-column-start:1;
      grid-column-end:8;
    }
  }
