.header {
    background-color: #30B0B0;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 60px;
    z-index: 2;
  }
  
  .header a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius:6px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
  }
  
  .header a:hover {
    font-weight: bold;
  }

  .photo { 
    height: 100%;
    z-index: 1;
    display: inline-block;
  }

  .qui {
    text-transform: uppercase;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

<<<<<<< HEAD:site-qui.css
  .story {
=======
  .story{
>>>>>>> 533342e29e82f7f1a635c6d59b28350600e342ce:static/site-qui.css
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }