.header {
  background-color: #30B0B0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 3;
  text-align: center;
}

.logo {
  text-align: left;
  grid-column-start:1;
  grid-column-end:3;
}

.header a {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.accueil a {
text-decoration:none;  
position:relative;
top:18px;
margin-left:60px;
}

.comm a {
text-decoration: underline overline white; 
text-decoration-style: double;
  position:relative;
  top:18px;
}

.qui a {
  text-decoration: none;
  position:relative;
  top:18px;
  margin-left:15px;
}

.header a:hover {
  font-weight: bold;
}
  .background { 
    height: 600px;
    position: relative;
    z-index: 1;
  }

  .concept {
    background-color: white;
    height: 1200px;
    padding: 20px 20px;
    position: relative;
    bottom: 450px;
    text-align: center;
    margin: 0px 250px;
    z-index: 2;
    border-style:double;
    border-width: 5px;
    border-radius: 2px;
    background-color: white;
    border-color: #30B0B0;
  }

  .concept_text {
    font-family: 'Didact Gothic', sans-serif;
    line-height: 1.4;
    margin-bottom: 200px;
    font-size: 20px;
    color: black;
  }

  .bonasavoir {
      background-color: white;
      position: relative;
      bottom: 200px;
      padding: 10px;
      text-align: left;
      font-family: 'Didact Gothic', sans-serif;
  }

  .comment {
    padding: 30px 0px;
    position: relative;
    bottom: 450px;
    text-align:center;
    margin: 0px 250px;
    height: 50px;
    z-index: 2;
  }
  
  .comment_text {
    font-family: 'Didact Gothic', sans-serif;
    margin-bottom: 200px;
    font-size: 20px;
    color: black;
    text-align:left;
}

.inscription {
  position: relative;
  bottom: 180px;
  text-align: center;
  width: 100%;
}

.inscription a {
  background:#D00060;
  color: white;
  border-radius: 5px;
  display: inline-block;
  margin: 30px;
  padding: 8px;
  text-decoration: none;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 16px;
}

.inscription a:hover {
  font-weight: bold;
}

.footer {
  border-top: 1px solid Black;
  position: relative;
  text-align: center;
  margin: 0px 150px;
  z-index: 2;
}

.footer a {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 14px;
  color: black;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.footer a:hover {
  font-weight: bold;
}

  .logo_fin {
    position: relative;
    text-align: center;
  }

  .copyright {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 10px;
    text-align: center;
    position: relative;
  }

  h1 {
    font-family:'Homemade Apple', cursive;
    font-size: 40px;
    font-style:italic;
  }

  h2 {
    font-family:'Homemade Apple', cursive;
    font-size: 30px;
    text-align: center;
  }

  li {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 15px;
    letter-spacing: 0.10em;
  }

@media screen and (max-width: 1086px) {
  
  .header {
    display: flex;
    flex-direction: column;
    height: 170px;
  }

.accueil a {
    margin-left:0px;
    }
    
.comm a {
    position:relative;
    top:18px;
    }
    
.qui a {
    text-decoration: none;
    position:relative;
    top:18px;
    }

.logo {
    text-align: center;
    grid-column-start:1;
    grid-column-end:8;
  }

    .concept {
        bottom: 350px;
        margin: 0px 150px;
        max-width:95%;
      }

    .concept_text {
      font-size: 18px;
      }

      .comment {
        bottom: 300px;
        margin: 0px 150px;
        }

      h1 {
        font-size: 35px;
      }

      .inscription {
        top: 5px;
      }

      .footer {
        top: 50px;
      }

      .footer a {
        font-size: 12px;
        } 
        
        .logo_fin {
          top:50px;
        }
      
        .copyright {
          top: 30px;
        }

      }



    @media screen and (max-width: 800px) {

      .background { 
        display: none;
      }

      .concept {
        top: 200px;
        margin: 0px 15px;
        height:1100px;
      }

      .comment {
        top: 180px;
        margin: 15px;
      }

        h1, h2 {
          font-size: 20px;
        }

        .inscription {
          top: 350px;
          }

        .footer {
          top: 400px;
        }

        .footer a {
          font-size: 10px;
          }

          .logo_fin {
            top: 400px;
          }
        
          .copyright {
            top: 380px;
          }

    }


    @media screen and (max-width: 600px) {

      .concept {
        top: 200px;
        margin: 0px;
        height:1300px;
      }

      .comment {
        margin: 0px;
        top: 220px;
      }

        h1, h2 {
          font-size: 20px;
        }

        .footer {
          top: 550px;
        }
      
        .footer a {
          font-size: 10px;
          margin: 0px;
          padding: 0px;
          text-decoration: none;
        }

        .inscription {
          top: 500px;
          }

          .logo_fin {
            top: 550px;
          }
        
          .copyright {
            top: 530px;
          }

    }